# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# Django SQLite DB
db.sqlite3

# Environment variables
.env

# Static / media files
/staticfiles/
/media/

# VS Code settings
.vscode/

# Test and coverage
.coverage
htmlcov/
*.log
